{% extends 'base.html' %}  {# Наследуем базовый шаблон base.html для общего макета страницы #}
{% block title %}Новый пароль{% endblock %}  {# Устанавливаем заголовок страницы в <title> как «Новый пароль» #}
{% block content %}  {# Начало блока контента, который подставится в основной шаблон #}
  <h1>Установить новый пароль</h1>  {# Заголовок внутри страницы #}
  <form method="post">  {# Открываем форму, метод POST для отправки нового пароля #}
    {% csrf_token %}  {# Токен CSRF для защиты от подделки запросов #}
    {{ form.new_password1.label_tag }}<br>  {# Метка (label) для поля нового пароля #}
    {{ form.new_password1 }}<br><br>  {# Сам input для нового пароля и отступы #}
    {{ form.new_password2.label_tag }}<br>  {# Метка для поля подтверждения пароля #}
    {{ form.new_password2 }}<br><br>  {# Input для повторного ввода пароля и отступы #}
      <button type="submit" class="btn btn-success"><a href="{% url 'users:password_reset_complete' %}">Сохранить</a></button>  {# Кнопка отправки формы, стилизованная Bootstrap-классом #}
  </form>  {# Закрываем тег формы #}
{% endblock %}  {# Конец блока контента #}
