{% extends 'base.html' %}  {# Наследуем общий шаблон base.html для единого макета #}
{% block title %}Письмо отправлено{% endblock %}  {# Устанавливаем заголовок страницы в <title> #}
{% block content %}  {# Начало основного блока контента #}
  <h1>Письмо отправлено</h1>  {# Заголовок, сообщающий об успешной отправке #}
  <p>Если учётная запись с таким e-mail существует, вы получите письмо со ссылкой.</p>  {# Пояснение, что письмо уйдёт только при наличии аккаунта с таким e-mail #}
  <p>
    <a href="{% url 'users:login' %}">Вернуться к входу</a>  {# Ссылка обратно на страницу входа, используя namespace users #}
  </p>
{% endblock %}  {# Конец блока content #}
