{% extends 'base.html' %}  {# Наследуем базовый шаблон base.html для единого макета страницы #}
{% block title %}Пароль изменён{% endblock %}  {# Устанавливаем заголовок страницы в <title> как «Пароль изменён» #}
{% block content %}  {# Начало блока контента, который вставится в основной шаблон #}
  <h1>Ваш пароль успешно изменён</h1>  {# Заголовок внутри страницы, сообщающий об успехе операции #}
  <p>
    <a href="{% url 'users:login' %}">Войти</a> с новым паролем  {# Ссылка на страницу входа, чтобы пользователь мог сразу залогиниться #}
  </p>
{% endblock %}  {# Конец блока контента #}
