{% extends 'base.html' %}
{% load static %}

{% block title %}Список курсов - BackendMaster{% endblock %}

{% block content %}
    <h1>Список курсов</h1>
    {% for course in courses %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ course.title }}</h2>
                <p class="card-text">{{ course.description }}</p>
                <a href="{% url 'courses:course_detail' course.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% empty %}
        <p>Курсов пока нет.</p>
    {% endfor %}
{% endblock %}