{% extends 'base.html' %}  <!-- Наследуем основной шаблон страницы, чтобы использовать общий макет -->

{% block title %}Вход{% endblock %}  <!-- Устанавливаем заголовок страницы как "Вход" -->

{% block content %}
  <h1>Вход в аккаунт</h1>  <!-- Заголовок страницы, который будет отображён в теле контента -->

  <!-- Форма для входа в аккаунт -->
  <form method="POST">  <!-- Указываем метод отправки формы как POST для безопасной передачи данных -->
    {% csrf_token %}  <!-- Вставляем токен CSRF для защиты от атак -->
    {{ form.as_p }}  <!-- Отображаем форму как параграфы, каждый элемент будет в своём <p> -->
    <!-- Кнопка отправки формы -->
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>

  <!-- Кнопка сброса пароля -->
  <p class="mt-2">
    <button type="button"
            class="btn btn-link p-0"
            onclick="window.location.href='{% url 'users:password_reset' %}'">
      Забыли пароль?
    </button>
  </p>

  <!-- Ссылка для пользователей, у которых нет аккаунта, для перехода на страницу регистрации -->
  <p class="mt-3">Нет аккаунта? <a href="{% url 'users:signup' %}">Зарегистрируйтесь</a></p>
{% endblock %}
